
/* Basic reset and base styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Border for all containers */
#housing {
    display: flex; /* Use flexbox layout */
    height: calc(100% - 62px);
    border: 1px solid black; 
    width: 100%;
}

.block {
    flex: 1; /* Each column takes up equal space */
    border: 1px solid black; /* Black border around each column */
    padding: 20px;
}

/* Styling for command */
#command {
    height: 40px; 
    text-align: center;
    border-top: 1px solid black; 
    padding: 10px;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%; 
}
